body {
    background-color:black;
    font-family:arial narrow;
    color:white;
}
.border{
    background-color:white;
    color:black;
    width:480px;
    margin: auto;
    padding:20px;
    border-radius: 25px;
    box-align:center;
}
h1{
    color:grey;
    font-family:arial black;
}
         


